<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>BearBear</title>
</head>
<body>
亲爱的用户，这是来自BearBear网站的密码重置链接
<br>
<br>
请点击下面的链接进行密码重置
<br>

<a href="<%= link %>"><%= link %></a>
<br>
<br>
本邮件自动发送,请不要回复
<br>
<br>
BearBear always Love you!!
<br>
<br>
</body>
</html>